html { height: 100%; }
body {
  margin: 0; height: 100%; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#userlist {
  min-width:175px;
  display:inline;
  height: auto;
}
#firepad {
  display:inline;height: auto;
}

a {
  color: #00B7FF;
}

.navbar {
    background-color: rgba(8,70,168,0.9) !important;
}

.navbar-brand {
   color: rgba(255,255,255,.9)!important;
   margin: 5px auto;
}

.firepad-tb-code:after {
	content:'{ }';
}

pre.codeblock.codeblock {
    font-family: monospace;
}

.powered-by-firepad {
	display: none;
}
